{% include 'includes/menu/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
<div class="userlistcard">
    <a href="{% url 'dashboard:dashboard_view'%}" style="margin-left:0px; margin-top:-50px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <h2 style="text-align:center"> Messages </h2>
    <table>
    {% for object in object_list %}
        <tr>
            <td><img src="{{ object.profiles.profile.url}}" style="width: 34px; height: 33px; border-radius: 54px;"/></td>
            <td><a href="{% url 'usermessages:user_chatting' object.id %}">{{ object }}</a></td>
        </tr>



    {% endfor %}
</table>
</div>


