{% include 'includes/menu/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
<div class="userlistcard">
    <a href="{% url 'viewprofile:view_profile'%}" style="margin-left:0px; margin-top:-50px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <h2 style="text-align:center"> Following </h2>
    <table>
    {% for object in object_list %}
        <tr>
            <td><img src="{{ object.0.profile.url}}" style="width: 94px; height: 93px; border-radius: 54px;"/></td>
            <td>
                <h3 style="margin-left:15px;">{{ object.0.user }}</h3>
                <div style="margin-top:-14px;margin-left:15px;">{{ object.0.blog }}</div>
                <div><a style="margin-left:15px" href="{% url 'usermessages:user_chatting' object.0.user.id %}">Messages</a></div>
            </td>
            <td><button style="margin-left:7px; background-color: lightgrey" type="button" value="{{ object.0.user.id }}" class="submit-unfollow">Unfollow</button></td>
        </tr>
    {% endfor %}
</table>
</div>


{% block extra_footer_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
$(function () {

 $(".submit-unfollow").click(function() {
                console.log("44440", $(this).val());



                $.ajax({
                    type: "POST",
                     headers: {
                        Authorization: "Token {{ user.get_token }}"
                    },
                    data: JSON.stringify({ 'unfollow_user_id':$(this).val() }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    url: "/following/followingupdate",
                    success: function(response) {
                        if (response=="success"){
                             location.reload(true);
                        }

                    }

                })
 });
 });




</script>

{% endblock %}
